[submodule "MPU9250"]
	path = MPU9250
	url = https://github.com/kriswiner/MPU9250.git
[submodule "arduino_cmake"]
	path = arduino_cmake
	url = https://github.com/mitikkak/arduino_cmake.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "LiquidCrystal_I2C"]
	path = LiquidCrystal_I2C
	url = https://github.com/marcoschwartz/LiquidCrystal_I2C.git
[submodule "TimerOne"]
	path = TimerOne
	url = https://github.com/PaulStoffregen/TimerOne.git
[submodule "SparkFun_MPU-9250_Breakout_Arduino_Library"]
	path = SparkFun_MPU-9250_Breakout_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_MPU-9250_Breakout_Arduino_Library.git
[submodule "Adafruit-PCD8544-Nokia-5110-LCD-library"]
	path = Adafruit-PCD8544-Nokia-5110-LCD-library
	url = https://github.com/bbx10/Adafruit-PCD8544-Nokia-5110-LCD-library.git
[submodule "Adafruit-GFX-Library"]
	path = Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
